@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

html {

    font-family: 'Lato', sans-serif;

}

p {
    font-size: 12px;
}

h4 {
    margin-right: 10px;
}
body {

    margin: 0px; 
    padding: 0px;
    background-color: #F57710;

}

header {

    display: flex;
    height: 50px;
    background-color: #F57710;
    justify-content: space-between;
    align-items: center;

}

header ol {

    display: flex;
    padding: 0px;

}

header li {

    list-style: none;
    padding-left: 10px;

}

header a {

    text-decoration: none;
    color: white;

}


nav ul {

    padding: 20px 100px;

}

.nav-image {

    display: flex;
    height: 200px;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: white;

}

.enter a:hover {

    background-color: white;
    color: #212426;

}

.logo {

    display: flex;
    align-items: center;

}

.search-container {

    display: grid;
    justify-content: center;
    height: inherit;
    align-items: center;

}

.search-bar {

    height: 35px;
    width: 400px;
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #E7EBF0;
    background-blend-mode: soft-light, normal;
    border: 0.5px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    box-shadow: inset -2.5px -2.5px 5px #FAFBFF, inset 2.5px 2.5px 5px #A6ABBD;
    border-radius: 10px;
    outline: none;
    padding-left: 8px;

}

.search-bar:hover {

    
    padding:1rem 1rem;
    margin:0 1rem;
    transition:all .2s ease;
    letter-spacing:1px;
    outline:none;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    
}

.main-container {

    display: inline-table;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 100px 100px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;

}

.containerFile1, .containerFile2 {
    display: flex;
}


footer {

    display: flex;
    height: 70px;
    justify-content: center;

}

footer p, a {

    display: flex;
    align-items: center;
    padding-left: 5px;
    font-size: 14px;
    color: white;
    text-decoration: none;

}

/* ------------------------------------ */

.card {

    display: grid;
    padding: 15px 15px;
    margin: 10px 10px;
    height: 300px;
    width:200px;
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #E7EBF0;
    background-blend-mode: soft-light, normal;
    border: 3px solid #E7EBF0;
    box-shadow: -15px -15px 30px #FAFBFF, 15px 15px 30px #A6ABBD;
    border-radius: 10px;

}

.container-image {

    display: flex;
    justify-content: center;

}

.image {

    height: 100px;
    width: 100px;

}

.container-titleDate {

    height: 30px;
    display: flex;
    align-items: center;
    margin-top: 20px;

}

h2.title {

    padding-right: 10px;

}

.paragrapah-2 {
    margin-top: 20px;
}

.date {
    font-size: 12px;
}

