@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

html {
    font-family: 'Lato', sans-serif;
}

body {

    margin: 0px; 
    padding: 0px;
    background-color: #F57710;
}

header {

    display: flex;
    height: 50px;
    background-color: #F57710;
    justify-content: space-between;
    align-items: center;

}

header ol {
    display: flex;
    padding: 0px;

}

header li {
    list-style: none;
    padding-left: 10px;
}

header a {
    text-decoration: none;
    color: white;
    
}


nav ul {
    padding: 20px 100px;
    
}

.nav-image {
    display: flex;
    height: 200px;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: white;

}

.enter a:hover {
    background-color: white;
    color: #212426;
}

.logo {
    display: flex;
    align-items: center;
}

.search-container {

    display: grid;
    justify-content: center;
    height: inherit;
    align-items: center;
    
    
}

.search-bar {

    height: 35px;
    width: 400px;
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #E7EBF0;
    background-blend-mode: soft-light, normal;
    border: 0.5px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    box-shadow: inset -2.5px -2.5px 5px #FAFBFF, inset 2.5px 2.5px 5px #A6ABBD;
    border-radius: 10px;
    outline: none;
    padding-left: 8px;
}

.main-container {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 100px 100px;
    background-color: white;
    border-radius: 10px;
}


footer {
    display: flex;
    height: 70px;
    justify-content: center;
}

footer p, a {
    display: flex;
    align-items: center;
    padding-left: 5px;
    color: white;
    text-decoration: none;
}

/* ------------------------------------ */

.card1, .card2, .card3, .card4 {
    display: grid;
    justify-content: center;
    padding: 15px 15px;
    margin: 10px 10px;
    border: 1px solid blue;
    height: 300px;
    width:180px;
}

.image {

    height: 120px;
    width: 120px;
    border: 1px solid green;
    
}
.container-titleDate {

    height: 30px;
    display: flex;
    align-items: center;
}

h2.title {
    padding-right: 10px;
}

