@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

html {
    font-family: 'Lato', sans-serif;
}

body {

    margin: 0px; 
    padding: 0px;
    background-color: #F57710;
}

header {

    display: flex;
    height: 50px;
    background-color: #F57710;
    justify-content: space-between;
    align-items: center;

}

header ol {
    display: flex;
    padding: 0px;

}

header li {
    list-style: none;
    padding-left: 10px;
}

header a {
    text-decoration: none;
    color: white;
    
}

.nav-image nav a {

    text-decoration: none;
}

nav ul {
    padding: 20px 100px;
    
}

.nav-image {
    height: 200px;
    background-image: url('./images/Hero.png');
    justify-content: center;

}

.search-container {

    display: grid;
    justify-content: center;
    height: inherit;
    align-items: center;
    
    
}

.search-bar {

    height: 35px;
    width: 300px;
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #E7EBF0;
    background-blend-mode: soft-light, normal;
    border: 0.5px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    box-shadow: inset -2.5px -2.5px 5px #FAFBFF, inset 2.5px 2.5px 5px #A6ABBD;
    border-radius: 10px;
    outline: none;
    padding-left: 8px;
}
