@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

html {
    font-family: 'Lato', sans-serif;
}

body {

    margin: 0px; 
    padding: 0px;
    background-color: #F57710;
}

header {

    display: flex;
    height: 50px;
    background-color: #F57710;
    justify-content: space-between;
    align-items: center;

}

header ol {
    display: flex;
    padding: 0px;

}

header li {
    list-style: none;
    padding-left: 10px;
}

header a {
    text-decoration: none;
    color: white;
    
}

.nav-image nav a {

    text-decoration: none;
}

nav ul {
    padding: 20px 100px;
    
}

.nav-image {
    height: 200px;
    background-image: url('./images/Hero.png');
    justify-content: center;

}

.search-container {

    display: grid;
    justify-content: center;
    
}
